node_modules/
.env
*.db
*.db-journal
*.log
.DS_Store
dist/
build/
backups/

# Markdown files
*.md

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
Thumbs.db
