# Root ignores (monorepo)

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

**/node_modules/
**/dist/

**/.idea/
**/*.iml
**/.vscode/

**/.DS_Store

# env files
**/.env



